.App {
    font-family: sans-serif;
    text-align: center;
}

.board {
    display: grid;
    height: 600px;
    width: 600px;
    margin: 0 auto;
}

.board__cell {
    border-radius: 5px;
    background-color: rgB(170, 170, 170);
}
.pre-filled {
    background-color: blue;
    pointer-events: none;
}

.correct {
    background-color: green;
    pointer-events: none;
}

.wrong {
    background-color: red;
    pointer-events: none;
}

.game-not-started {
    pointer-events: none;
}
